@model Hearts.ViewModel.UserModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Details</h2>

<div>
    <h4>Your profile description.</h4>
    <hr />
    @if (Model != null)
    {
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActiveGameId)
            </dt>

            @if (!Model.ActiveGameId.IsEmpty())
            {
                <dd>
                    @Html.ActionLink("Resume Game", "Game", "Game", new { hashedGameId = Model.ActiveGameId }, null)
                </dd>
            }
            else
            {
                <dd>
                    @Html.ActionLink("Create or join a game", "Index", "Game")
                </dd>
            }

        </dl>

        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">@Html.DisplayFor(model => model.Wins)</span>
                @Html.DisplayNameFor(model => model.Wins)
            </li>
            <li class="list-group-item">
                <span class="badge">@Html.DisplayFor(model => model.Wins)</span>
                @Html.DisplayNameFor(model => model.Draws)
            </li>
            <li class="list-group-item">
                <span class="badge">@Html.DisplayFor(model => model.Wins)</span>
                @Html.DisplayNameFor(model => model.Wins)
            </li>
            <li class="list-group-item">
                <span class="badge">@Html.DisplayFor(model => model.Points)</span>
                @Html.DisplayNameFor(model => model.Points)
            </li>
        </ul>
    }
</div>
